body {
  font-family: system-ui, sans-serif;
}

.Desktop {
  /* linear-gradient(skyblue, turquoise) */
  background-image: url("../assets/pexels-stein-egil-liland-1933319.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Window {
  background-color: gainsboro;
  position: absolute;
  border-radius: 0.8em;
  box-shadow:0 0.4em 0.8em #0008;
  overflow: hidden;
}
.Window__title {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  cursor: nesw-resize;
}
.Window__closer {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border-width: 0;
  color: red;
}
.Window__closer::after {
  content: '\0000d7';
}

.Cone {
  width: 150px;
  height: 150px;
  background-image: conic-gradient(yellow,red,blue,yellow);
}

.AboutBox {
  min-width: 150px;
  text-align: center;
  margin: 2em 1em 1em;
}